=media ($size) 
    @media screen and (min-width: #{$size}px) 
        @content


html
    font-size: 1px
*
    padding: 0
    margin: 0  
    box-sizing: border-box 
body 
    font-family: 'Ubuntu', Roboto Slab, sans-serif
    margin: 0
body.lock
    overflow: hidden

.overflowX-hidden 
    overflow-x: hidden
.wrapper
    margin: 0 auto
    width: 90%
    +media(1200)
        max-width: 1140rem
.flex 
    display: flex
ul 
    align-items: center
    list-style: none  
    padding-left: 0 
a 
    display: inline-block
    list-style: none
    text-decoration: none 

h2 
    font-size: 45rem
    font-family: "Roboto"
    color: #2c2f3f
    text-align: center
    font-weight: bold
    padding-bottom: 65rem

/* section header */

.header-menu 
    background: #2c2f3f
    
.navmenu 
    display: none
    overflow: auto
    +media(742)
        display: flex  
        flex-direction: row
        top: 0 
        background: transparent
.top-menu 
    align-items: center
    justify-content: space-between
    min-height: 70rem
.menu 
    a 
        font-size: 24rem
        padding: 35rem 0
        color: #25252c
        line-height: 24rem
        font-weight: 700
    +media(742)
        justify-content: center
        li 
            padding: 0rem 50rem 4rem 0
        a
            position: relative
            font-size: 15rem
            padding: 0
            color: #EDDBC7
            transition: all 0.3s ease-in-out
            &::before
                content: ''
                position: absolute
                margin: auto
                left: 0rem
                right: 0rem
                bottom: -5rem
                width: 0%
                height: 1rem
                background-color: #EDDBC7
                transition: all 0.5s ease
            &:hover::before
                width: 100% 
    
.hamburger 
    display: flex
    flex-direction: column
    padding-top: 22rem
    height: 50rem
    justify-content: center
    z-index: 8
    span 
        margin: 2rem 0
        width: 38rem
        height: 4rem
        background-color: #fff
        border-radius: 5rem
    +media(742) 
        display: none
 
.active-burger 
    display: inline-block
    position: absolute
    ul 
        margin: 0
        position: fixed
        flex-direction: column
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: #EDDBC7
        z-index: 3 
    a
        font-size: 18rem
        display: inline-block
        padding: 32rem 0

   
.social-links
    display: flex
    justify-content: space-between
   
.social-links 
    a
        padding: 5rem

.social-links 
    svg 
        border-radius: 5rem
        width: 25rem
        height: 25rem
        &:hover
            fill: #85586f

.header-hidden 
    transform: translateY(-100%)


/* section main-fon */
.main-fon 
    height: 100vh
    background-color: #f5f8fa
    background-attachment: fixed

.main 
    flex-direction: column
    padding-top: 100rem
    align-items: center
    +media(768)
        justify-content: space-between
        flex-direction: row

.fon-container 
    flex-direction: column
    justify-content: center
    

.fon-container 
    h1 
        font-size: 40rem
        margin: 0 0 10rem 0
        font-weight: 700
        
        font-family: "Roboto"
        color: #2c2f3f
        +media(500)
            font-size: 64rem

.my-photo 
    justify-content: center
    padding-top: 30rem
    img 
        width: 70%
        border: 8rem solid #2c2f3f
        border-radius: 50%


.text-animation
    p 
        font-size: 20rem
        font-weight: 700
        line-height: 56rem
        font-family: "Roboto"
        color: #2c2f3f
        overflow: hidden
        white-space: nowrap
        margin: 0 auto
        animation: typing 3.5s steps(40, end)
        +media(500)
            font-size: 30rem
            letter-spacing: .15em

                    
@keyframes typing 
    0% 
        width: 0
    100% 
        width: 100%


/* section about */
#about 
    padding: 100rem 0
    background-color: #f5f8fa
.title 
    h2 
      padding-bottom: 50rem

.about-info 
    align-items: center
    flex-direction: column
    +media(1024)
        flex-direction: row
        justify-content: space-between
        align-items: inherit

.card-text 
    justify-content: flex-start
    max-width: 500rem
.about-text 
    text-align: left
    padding: 10rem 10rem
    background-color: #fff
    filter: drop-shadow(5rem -4rem 10rem #9F9797)
    transition: all .3s ease
    &:hover
        transform: rotate3d(1, 2, 3, 10deg)
    p 
        padding: 2rem 0
        font-size: 15rem
        color:#2c2f3f
        font-family: "Roboto"
        line-height: 1.5
        +media(500)
            font-size: 20rem

.about-text,
.about-education
    position: relative
    
    svg 
        width: 31rem
        height: 31rem
        fill: red
        position: absolute
        left: 50%
        top: -22rem
        z-index: 3

.about-education h3,
.about-text h3,
.title-chapter h3
    font-family: "Roboto"
    font-size: 30rem
    color: #85586f
    text-align: center
    padding-bottom: 20rem

.card-edu
    justify-content: flex-end
    max-width: 500rem
    padding-top: 20rem
    +media(1024)
        padding-top: 0
        margin-left: 20rem
    +media(1173)
        margin-left: 0

.about-education 
    text-align: left
    background-color: #fff
    filter: drop-shadow(5rem -4rem 10rem #9F9797)
    padding: 10rem 10rem
    transition: all .3s ease
    &:hover
        transform: rotate3d(1, 1, 3, -10deg)
    h3 
        text-align: center

.education 
    min-height: 20rem
    dd
        padding-left: 18rem
        font-size: 20rem
        color: #737373
        margin-bottom: 20rem

.specialty 
    font-family: "Roboto"
    font-weight: bold
    font-size: 20rem
    color: #000
.style-hr 
    margin: 0 auto
    background-color: #f5f8fa
    border-style: none
    border-top-style: dotted
    border-color: gray
    border-width: 5rem
    width: 40%
    

.title-chapter h3
    padding-top: 35rem
.progress-item
    p
        font-family: "Roboto"
        font-size: 18rem
        color: #000
        padding-top: 7rem
        text-align: center
.progress 
    display: flex 
    flex-wrap: wrap 
    justify-content: center 
    +media(1140) 
        justify-content: space-between 
canvas 
    width: 150px 
    height: 150px 
    margin: 0 10px

/* section portfolio */
.portfolio 
    padding: 100rem 0
    background-color: #f5f8fa
.cards 
    flex-direction: column
    align-items: center
    +media(760)
        flex-direction: row
        justify-content: center
.project 
    margin: 10rem 20rem
    max-width: 350rem
    border-radius: 7rem
    background-color: #fff
    border: 1rem solid #d7dbe8
    padding-bottom: 15rem
    text-align: center
    transition: all .5s ease
    &:hover
        transform: scale(1.03)
        filter: drop-shadow(8rem 8rem 3rem #9F9797)

.btn 
    align-items: center
    display: inline-block
    padding: 10rem 30rem
    border-radius: 15rem
    border: 1rem solid #85586F
    background-color: #85586F
    text-decoration: none
    font-size: 18rem
    letter-spacing: 1rem
    color: #fff
    font-weight: 700
    font-family: "Roboto"
    text-align: center
    cursor: pointer

.project 
    p  
        margin: 0
        text-align: left
.project 
    img 
        width: 100%
        border-radius: 7rem 7rem 0 0
.project 
    h3 
        padding: 15rem 0
        color: #181823
        font-family: "Roboto"
        font-size: 24rem
        text-align: center
        font-weight: bold
.tool
    color: #85586F
    font-family: "Roboto"
    font-size: 20rem
    padding: 0 15rem 
.tools 
    color: #181823
    font-family: "Roboto"
    font-size: 15rem
    padding: 10rem 15rem
.description 
    color: #181823
    font-family: "Roboto"
    font-size: 15rem
    padding: 10rem 15rem
    min-height: 80rem


/* section contact */
#contact 
    padding: 100rem 0
    background-color: #f5f8fa
form 
    flex-direction: column

.container-form 
    margin: 0 auto
    padding: 21rem
    width: 100%
    +media(600)
        width: 70%
    +media(800)
        width: 50%
   
.input,
.textarea 
    background-color: transparent
    width: 100%
    margin-bottom: 50rem
    padding: 10.5rem 17rem
    font-size: 12rem
    line-height: 20rem
    outline: 0
    color: #000
    border: none
    border-bottom: 1rem solid #85586F
.textarea 
    resize: vertical
    max-height: 150rem
.btn-section 
    display: flex
    justify-content: center


/* section footer */
.footer 
    text-align: center
.coppy
    background-color: #f5f8fa
.copyright 
    text-align: center
    color:#737373
    font-size: 15rem
    font-family: "Roboto"

.scrolTop
    position: fixed
    bottom: 10%
    right: 6%
    opacity: 0
    background-color: transparent
    color: #fff
    width: 50rem
    height: 50rem
    border-radius: 50%
    border: 2px solid #85586F
    transition: transform .5s ease
    animation: arrowUp 1s linear infinite alternate
    cursor: pointer
    &::before
        content: ""
        position: absolute
        width: 15rem
        height: 15rem
        border-bottom: 4px solid #85586F
        border-right: 4px solid #85586F
        transform: rotate(-137deg)
        left: 14rem
        top: 13rem
        border-radius: 2rem
    &::after 
        position: absolute
        content: ""
        border-right: 3px solid #85586F
        height: 25rem
        left: 22rem
        top: 12rem
        border-radius: 2rem

.scrolTop.show
    opacity: 1

@keyframes arrowUp
    0%
        transform: translate(0px, -15px)
    100%
        transform: translate(0px, 0px)