=media ($size) 
    @media screen and (min-width: #{$size}px) 
        @content


html
    font-size: 1px
*
    padding: 0
    margin: 0  
    box-sizing: border-box 
body 
    font-family: 'Ubuntu', Roboto Slab, sans-serif
    margin: 0
    
body.lock
    overflow: hidden

.overflowX-hidden 
    overflow-x: hidden
.wrapper
    margin: 0 auto
    width: 90%
    +media(1200)
        max-width: 1140rem
.flex 
    display: flex
ul 
    align-items: center
    list-style: none  
    padding-left: 0 
a 
    display: inline-block
    list-style: none
    text-decoration: none 

h2 
    font-size: 45rem
    font-family: "Ubuntu"
    color: #2c2f3f
    text-align: center
    font-weight: 400
    padding-bottom: 65rem

/* section header */

.header-menu 
    background: #2c2f3f
    
.navmenu 
    display: none
    overflow: auto
    +media(742)
        display: flex  
        flex-direction: row
        top: 0 
        background: transparent
.top-menu 
    align-items: center
    justify-content: space-between
    min-height: 80rem
.menu 
    justify-content: center
    li 
        padding: 4rem 35rem 9rem 0rem

    a 
        font-size: 20rem
        color: #fff
        line-height: 24rem
        font-family: "Roboto Slab"
        position: relative
        transition: all 0.3s ease-in-out
        &::before
            content: ''
            position: absolute
            margin: auto
            left: 0rem
            right: 0rem
            bottom: -5rem
            width: 0%
            height: 1rem
            background-color: #fff
            transition: all 0.5s ease
        &:hover::before
            width: 100%
    +media(742)
        justify-content: center          
    
.hamburger 
    display: flex
    flex-direction: column
    height: 50rem
    justify-content: center
    z-index: 8
    span 
        margin: 2rem 0
        width: 38rem
        height: 4rem
        background-color: #fff
        border-radius: 5rem
    +media(742) 
        display: none
 
.active-burger 
    display: inline-block
    position: absolute
    ul 
        justify-content: center
        margin: 0
        position: fixed
        flex-direction: column
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: rgb(44,47,63)
        background: linear-gradient(90deg, rgba(44,47,63,1) 54%, rgba(53,58,88,1) 100%)
        z-index: 3 
    li 
        padding-bottom: 40rem
    a
        font-family: "Roboto Slab"
        font-size: 30rem
        display: inline-block

   
.social-links
    display: flex
    justify-content: space-between
   
.social-links 
    a
        padding: 5rem

.social-links 
    svg 
        border-radius: 5rem
        width: 25rem
        height: 25rem
        transition: all .3s ease
        &:hover
            fill: #85586f

.header-hidden 
    transform: translateY(-100%)


/* section main-fon */
.main-fon 
    padding-bottom: 150rem
    background:  #f5f8fa url(../img/main-fon.webp) center
    background-size: cover
    background-attachment: fixed
    // +media(1024)
    //     height: 100vh

.main 
    flex-direction: column
    padding-top: 100rem
    align-items: center
    +media(1120)
        justify-content: space-between
        flex-direction: row

.fon-container 
    flex-direction: column
    justify-content: center
    align-items: center
    +media(1030)
        align-items: flex-start
    h1 
        font-size: 40rem
        margin: 0 0 10rem 0
        font-weight: 500
        font-family: "Ubuntu"
        color: #2c2f3f
        text-align: center
        +media(500)
            font-size: 64rem
            
        +media(1024)
            font-size: 70rem
            text-align: left

.my-photo 
    justify-content: center
    padding-top: 30rem
    img 
        width: 60%
        border: thick double #2c2f3f
        border-radius: 50%


.text-animation
    p 
        font-size: 20rem
        font-weight: 500
        line-height: 56rem
        font-family: "Roboto Slab"
        color: #2c2f3f
        overflow: hidden
        white-space: nowrap
        margin: 0 auto
        animation: typing 2.5s steps(40, end)
        +media(530)
            font-size: 30rem
           
        +media(900)
            font-size: 40rem
            letter-spacing: .12em

                    
@keyframes typing 
    0% 
        width: 0
    100% 
        width: 100%


/* section about */
.about 
    padding: 100rem 0
    background-color: #f5f8fa

.title 
    h2 
      padding-bottom: 50rem

.about-info 
    align-items: center
    flex-direction: column
    +media(1024)
        flex-direction: row
        justify-content: space-between
        align-items: inherit

.card-text 
    justify-content: flex-start
    max-width: 500rem
.about-text 
    text-align: left
    padding: 10rem 30rem
    background-color: #fff
    filter: drop-shadow(5rem -4rem 10rem #9F9797)
    transition: all .3s ease
    &:hover
        transform: rotate3d(1, 2, 3, 10deg)
    p 
        padding: 2rem 0
        font-size: 15rem
        color:#2c2f3f
        font-family: "Roboto Slab"
        line-height: 1.5
        +media(768)
            font-size: 20rem

.about-text,
.about-education
    position: relative
    svg 
        width: 31rem
        height: 31rem
        fill: red
        position: absolute
        left: 50%
        top: -22rem
        z-index: 3

.about-education h3,
.about-text h3,
.title-chapter h3
    font-family: "Roboto Slab"
    font-size: 30rem
    color: #85586f
    text-align: center
    padding-bottom: 20rem

.card-edu
    justify-content: flex-end
    max-width: 500rem
    padding-top: 20rem
    +media(1024)
        padding-top: 0
        margin-left: 20rem
    +media(1173)
        margin-left: 0

.about-education 
    text-align: left
    background-color: #fff
    filter: drop-shadow(5rem -4rem 10rem #9F9797)
    padding: 10rem 40rem
    transition: all .3s ease
    &:hover
        transform: rotate3d(1, 1, 3, -10deg)
    h3 
        text-align: center

.education 
    min-height: 20rem
    dd
        padding-left: 18rem
        font-size: 15rem
        color: #737373
        margin-bottom: 20rem
        +media(768)
            font-size: 20rem

.specialty 
    font-family: "Roboto Slab"
    font-weight: bold
    font-size: 15rem
    color: #000
    +media(768)
        font-size: 20rem    

.title-chapter h3
    padding-top: 40rem
    padding-bottom: 45rem
.progress-item
    p
        padding-bottom: 40rem
        font-family: "Roboto Slab"
        font-size: 18rem
        color: #000
        padding-top: 7rem
        text-align: center
.progress 
    display: flex 
    flex-wrap: wrap 
    justify-content: center 
    +media(1140) 
        justify-content: space-between 
canvas 
    width: 150px 
    height: 150px 
    margin: 0 10px

//animation section about
.card-text
    opacity: 0
    transition: all .5s ease-out
    transform: rotate3d(1, 2, 3, -5deg)
    +media(600)
        transform: rotate3d(1, 2, 3, -20deg)
.card-text._active-anim
    opacity: 1
    transform: rotate3d(1, 2, 3, 0deg)
    

.card-edu
    opacity: 0
    transition: all .5s ease-out
    transform: rotate3d(1, 2, 3, 5deg)
    +media(600)
        transform: rotate3d(1, 2, 3, 20deg)
.card-edu._active-anim
    opacity: 1
    transform: rotate3d(1, 2, 3, 0deg)

/* section portfolio */
.portfolio 
    padding: 100rem 0
    background:  #f5f8fa url(../img/fon-portfolio.webp) center
    background-size: cover
    background-attachment: fixed
.cards 
    flex-direction: row
    align-items: center
    flex-wrap: wrap
    flex-shrink: 1
    justify-content: center
    +media(1024)
        flex-wrap: nowrap
.project 
    margin: 10rem 20rem
    max-width: 350rem
    border-radius: 7rem
    background-color: #fff
    border: 1rem solid #d7dbe8
    padding-bottom: 15rem
    text-align: center
    transition: all .5s ease
    &:hover
        transform: scale(1.09)
        filter: drop-shadow(8rem 8rem 3rem #9F9797)

.btn 
    align-items: center
    display: inline-block
    padding: 10rem 30rem
    border-radius: 15rem
    border: 3px solid #85586F
    background-color: #85586F
    text-decoration: none
    font-size: 18rem
    letter-spacing: 1rem
    color: #fff
    font-weight: 500
    font-family: "Roboto Slab"
    text-align: center
    cursor: pointer
    transition: all .3s ease
    &:hover
        background-color: #fff
        color: #2c2f3f
        border: dashed #85586F

.project 
    p  
        margin: 0
        text-align: left
.project 
    img 
        width: 100%
        border-radius: 7rem 7rem 0 0
.project 
    h3 
        padding: 15rem 0
        color: #181823
        font-family: "Roboto Slab"
        font-size: 24rem
        text-align: center
        font-weight: bold
.tool
    color: #85586F
    font-family: "Roboto Slab"
    font-size: 20rem
    padding: 0 15rem 
.tools 
    color: #181823
    font-family: "Roboto Slab"
    font-size: 15rem
    padding: 10rem 15rem
.description 
    color: #181823
    font-family: "Roboto Slab"
    font-size: 15rem
    padding: 10rem 15rem
    min-height: 100rem
//animation cards

.card-anim
    opacity: 0
    transition: all .5s ease
    transform: translate(0%, 20%)
.card-anim._active-anim
    opacity: 1
    transform: translate(0%, 0%)

/* section contact */
#contact 
    padding: 100rem 0
    background-color: #f5f8fa
.contact-me
    padding-bottom: 30rem
form 
    flex-direction: column

.container-form 
    margin: 0 auto
    padding: 21rem
    width: 100%
    +media(600)
        width: 70%
    +media(800)
        width: 50%
   
.input,
.textarea 
    background-color: transparent
    width: 100%
    margin-bottom: 50rem
    padding: 10.5rem 17rem
    font-size: 15rem
    line-height: 20rem
    outline: 0
    color: #000
    border: none
    border-bottom: 1rem solid #85586F
.textarea 
    resize: vertical
    max-height: 150rem
.btn-section 
    display: flex
    justify-content: center
    

.placeholderColor
    &::placeholder
        color: #f33939

.sent-message 
    font-size: 15rem
    font-family: "Roboto Slab" 
    color: #85586F
    text-align: center
    padding-bottom: 20rem
    transition: all .3s ease 


/* section footer */
.footer 
    text-align: center
.coppy
    background-color: #f5f8fa
.copyright 
    padding: 10rem 0 10rem 0
    text-align: center
    color:#737373
    font-size: 13rem
    font-family: "Roboto Slab"
.style-hr 
    margin: 0 auto
    background-color: #f5f8fa
    border-style: none
    border-top-style: dotted
    border-color: gray
    border-width: 3rem
    width: 80%

.scrolTop
    position: fixed
    bottom: 10%
    right: 6%
    opacity: 0
    background-color: transparent
    color: #fff
    width: 50rem
    height: 50rem
    border-radius: 50%
    border: 2px solid #85586F
    transition: transform .5s ease
    animation: arrowUp 1s linear infinite alternate
    cursor: pointer
    &::before
        content: ""
        position: absolute
        width: 15rem
        height: 15rem
        border-bottom: 4px solid #85586F
        border-right: 4px solid #85586F
        transform: rotate(-137deg)
        left: 14rem
        top: 13rem
        border-radius: 2rem
    &::after 
        position: absolute
        content: ""
        border-right: 3px solid #85586F
        height: 25rem
        left: 22rem
        top: 12rem
        border-radius: 2rem

.scrolTop.show
    opacity: 1

@keyframes arrowUp
    0%
        transform: translate(0px, -15px)
    100%
        transform: translate(0px, 0px)